<h1>Welcome</h1>
<p>Welcome to Memoira 1.0.0</p>
<p>An app to publicly share the best stories from your memories or write completely private stories https://memoira.herokuapp.com/</p>
{{#if user}}
{{else}}
    <a href="/auth/google" class="btn red darken-1"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}